DirectoryIndex amamazahub.php
Options -Indexes
RewriteEngine On
RewriteRule ^(@)?login[/]?$  app/auth/login.php
RewriteRule ^@home$  amamazahub.php
RewriteRule ^(@)?auth/action$  app/auth/action.php
RewriteRule ^@api/(.+)$ app/api/$1.php [L,NC,QSA]
RewriteRule ^(@)?logout[/]?$ app/auth/logout.php [L,NC,QSA]
RewriteRule ^(@)?signup[/]?$ app/auth/signup.html [L,NC,QSA]
RewriteRule ^(@)?forgot-password[/]?$ app/auth/forgot-password.html [L,NC,QSA]
RewriteRule ^(@)?reset[/]?$ app/auth/reset.php [L,NC,QSA]
RewriteRule ^(@)?email[/]?$ sendemail.php [L,NC,QSA]
RewriteRule ^(@)?js[/]?$ app/assets/js/script.js [L,NC,QSA]
RewriteRule ^(@)?css[/]?$ app/assets/css/style.css [L,NC,QSA]

RewriteRule ^(@)?followers[/]?$ app/api/followers.php [L,NC,QSA]


RewriteRule ^(home|Following|search|messages|foryou|explore|about|upload|profile|ads|proshop|findnearyou)$ web.php?url=$0 [L,NC,QSA]

RewriteRule ^messages$ web.php?url=$0 [L,NC,QSA]
#RewriteRule ^(.+)$ web.php?url=$0 [L,NC,QSA]
#
# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^([^/]+)/?$ $1.php [L]

## Redirect to HTTPS (optional)
##RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#
ErrorDocument 403 /amamazahub/app/system/errors/403.html
ErrorDocument 404 /amamazahub/app/system/errors/404.html
