@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

/* Custom styles for TikTok-style snapping */
.video-container {
    height: calc(100vh - 64px);
    /* Subtract Navbar height */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.video-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.video-card {
    height: calc(100vh - 64px);
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotateDisc {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.music-disc {
    animation: rotateDisc 5s linear infinite;
}